* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
}

.container {
  margin: 0 auto;
  max-width: 1200px;
}
@media screen and (max-width: 600px) {
  .container {
    padding: 0 5%;
  }
}

// HEADER
header {
  .header {
    display: flex;
    gap: 10rem;
    align-items: center;
    position: fixed;
    z-index: 3;
    width: 100%;
    padding-top: 30px;
    h1 {
      color: white;
      font-size: 30px;
      font-weight: 300;
      padding-bottom: 13px;
    }
    nav {
      ul {
        display: flex;
        li {
          a {
            margin-left: 40px;
            text-decoration: none;
            color: rgb(204, 203, 203);
            font-size: 18px;
            font-weight: 300;
            &:hover {
              color: white;
            }
          }
        }
      }
    }
  }
}

// Welcome To EatWell
#eatWell-section {
  background-image: url("../../img/bg_3\ \(1\).jpg");
  width: 100%;
  height: 100vh;
  .eatWell {
    padding-top: 18%;
    padding-left: 21%;
    .reservationBtn {
      background-color: transparent;
      border: 3px solid white;
      color: white;
      padding: 10px 35px;
      margin-left: 27%;
      &:hover {
        background-color: white;
        border: 3px solid white;
        color: black;
        padding: 10px 35px;
        margin-left: 27%;
        transition: all 500ms;
      }
    }
    h1 {
      color: white;
      font-size: 70px;
      font-weight: 700;
      font-family: Georgia, "Times New Roman", Times, serif;
    }
    p {
      color: rgb(216, 215, 215);
      font-size: 17px;
      padding-left: 12%;
    }
  }
}

// OUR STORY WELCOME
#ourStory {
  .ourStory {
    display: flex;
    margin-top: 65px;
    .ourStory-left {
      padding-top: 80px;
      h4 {
        font-size: 17px;
        font-weight: 400;
        color: rgb(155, 154, 154);
      }
      h1 {
        font-family: Georgia, "Times New Roman", Times, serif;
        font-size: 50px;
      }
      p {
        color: rgb(155, 154, 154);
      }
      .ourStoryBtn {
        padding: 12px 40px;
        border: 1px solid rgb(155, 154, 154);
        color: rgb(155, 154, 154);
        &:hover {
          color: white;
          background-color: orange;
          border: 1px solid orange;
          transition: all 500ms;
        }
      }
    }
    .ourStory-right {
      img {
        width: 100%;
        padding: 20px 0;
      }
    }
  }
}

// DINAMIK SECTION
#ourOffer {
  margin-top: 100px;
  .loadMore {
    margin-top: 35px;
    margin-left: 30px;
    padding: 12px 40px;
    border: 1px solid blue;
    color: blue;
    &:hover {
      color: white;
      background-color: orange;
      border: 1px solid orange;
      transition: all 500ms;
    }
  }
  .ourOffer-text {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    h3 {
      color: grey;
      font-size: 17px;
      font-weight: 400;
    }
    h1 {
      font-size: 60px;
      font-family: Georgia, "Times New Roman", Times, serif;
    }
    p {
      color: grey;
      font-size: 20px;
      font-weight: 300;
    }
  }
  .cards {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 2rem;
    margin-top: 40px;
    .cardImg {
      img {
        width: 100%;
      }
    }
    .cardText {
      h6 {
        color: orange;
        padding-top: 20px;
        text-align: center;
      }
      h3 {
        text-align: center;
        font-family: Georgia, "Times New Roman", Times, serif;
      }
    }
  }
}

// NEWS
#vokaliaSection {
  margin-top: 100px;
  .vokaliaSection {
    .vokaliaSection-cards {
      display: flex;
      gap: 3rem;
      img {
        width: 100%;
      }
      h1 {
        font-size: 23px;
        font-weight: 400;
        margin-top: 30px;
        font-family: Georgia, "Times New Roman", Times, serif;
      }
      p {
        color: grey;
      }
      .readMoreBtn {
        padding: 7px 15px;
        margin-left: 35%;
        border: none;
        color: white;
        background-color: orange;
        &:hover {
          padding: 7px 15px;
          margin-left: 35%;
          border: none;
          color: white;
          background-color: orangered;
          transition: all 500ms;
        }
      }
    }
    .vokaliaSection-text {
      display: flex;
      justify-content: center;
      flex-direction: column;
      align-items: center;
      margin-bottom: 40px;
      h1 {
        font-size: 60px;
        font-family: Georgia, "Times New Roman", Times, serif;
      }
      p {
        color: grey;
        font-size: 20px;
        font-weight: 300;
      }
    }
  }
}

// Gallery
#galerySection {
  margin-top: 100px;
  .galery {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin-bottom: 40px;
    .galery-text {
      margin-bottom: 40px;
      h1 {
        font-size: 60px;
        font-family: Georgia, "Times New Roman", Times, serif;
      }
      p {
        color: grey;
        font-size: 20px;
        font-weight: 300;
      }
    }
    .galeryImage {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      gap: 1.2rem;
      img {
        width: 100%;
      }
    }
  }
}

// FOOTER
#footer {
  background-color: #222222;
  height: 100vh;
  .footer-bootom {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    padding-top: 130px;
    .footer-bottom-icon {
      i {
        font-size: 35px;
        color: grey;
        margin-bottom: 30px;
        margin-left: 12px;
      }
    }
    .footer-bottom-text {
      p {
        color: grey;
      }
    }
  }
  .footer {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    padding-top: 10%;
    gap: 3rem;
    h3 {
      color: white;
      font-size: 15px;
      font-family: Georgia, "Times New Roman", Times, serif;
    }
    p {
      color: grey;
    }
  }
}
