* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
}

.container {
  margin: 0 auto;
  max-width: 1200px;
}

@media screen and (max-width: 600px) {
  .container {
    padding: 0 5%;
  }
}

// HEADER
header {
  background-color: rgb(143, 143, 245);
  .header {
    display: flex;
    gap: 10rem;
    align-items: center;
    padding-top: 30px;
    h1 {
      color: white;
      font-size: 30px;
      font-weight: 300;
      padding-bottom: 13px;
    }
    nav {
      ul {
        display: flex;
        li {
          a {
            margin-left: 40px;
            text-decoration: none;
            color: white;
            font-size: 18px;
            font-weight: 300;
            &:hover {
              color: blue;
            }
          }
        }
      }
    }
  }
}

@media screen and (max-width: 600px) {
  .header {
    .menuIcon {
      display: block;
    }
    nav {
      ul {
        li {
          display: none;
        }
      }
    }
  }
}

// FORM
.searchSort {
  .search {
    padding: 10px 55px;
    margin-top: 30px;
  }
  .sortBtn {
    .sortPriceBtn {
      padding: 5px 25px;
      color: blue;
      background-color: white;
      border: 2px solid blue;
      &:hover {
        background-color: blue;
        color: white;
        border: 2px solid blue;
        transition: all 500ms;
      }
    }

    .sortNameBtn {
      padding: 5px 25px;
      color: blue;
      background-color: white;
      border: 2px solid blue;

      &:hover {
        background-color: blue;
        color: white;
        border: 2px solid blue;
        transition: all 500ms;
      }
    }
  }
}

// FOOTER
#footer {
  background-color: #222222;
  .footer-bootom {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    padding-top: 130px;
    .footer-bottom-icon {
      i {
        font-size: 35px;
        color: grey;
        margin-bottom: 30px;
        margin-left: 12px;
      }
    }
    .footer-bottom-text {
      p {
        color: grey;
      }
    }
  }
  .footer {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    padding-top: 10%;
    gap: 3rem;
    h3 {
      color: white;
      font-size: 15px;
      font-family: Georgia, "Times New Roman", Times, serif;
    }
    p {
      color: grey;
    }
  }
}

@media screen and (max-width: 600px) {
  #footer {
    .footer {
      display: grid;
      grid-template-columns: repeat(1, 1fr);
    }
  }
}
